:host * {
  --color-inactive: #ececec;
  --color-active: #b7dbfd;
  --color-shadow: #00000037;
}

:host {
  display: block;
  padding: 20px;
}

nav {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

nav div {
  flex: 1;
  padding: 4px 8px;
  background-color: var(--color-inactive);
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 1.6rem;
}

nav div:not(:last-child) {
  border-right: 3px solid #aaa;
}

nav div[current] {
  background-color: var(--color-active);
}
