:host * {
  --color-inactive: #ececec;
  --color-active: #b7dbfd;
  --color-shadow: #00000037;
}

:host {
  display: block;
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  font-family: 'Oxygen', sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

nav div {
  flex: 1;
  padding: 4px 8px;
  background-color: var(--color-inactive);
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 1.6rem;
}

nav div:not(:last-child) {
  border-right: 3px solid #aaa;
}

nav div[current] {
  background-color: var(--color-active);
}

#error {
  display: block;
  font-size: 1.5rem;
  background-color: #ff95a7;

  padding: .5rem;
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;

  transition: .3s;
  opacity: 0;
}

#error[active] {
  opacity: 1;
}

table {
  display: block;
  width: fit-content;
  margin: 0 auto;
  max-width: calc(100vw - 100px);
  overflow-x: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

th {
  background-color: var(--color-inactive);
}

.table-date {
  white-space: nowrap;
}
