:host {
  width: inherit;
  position: relative;
}

#date-input {
  width: inherit;
  height: inherit;
}

#date-picker {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 5px 1px var(--color-shadow);
  top: calc(100% + 20px);
  left: 0;
  border-radius: 10px;
}

#date-picker[hidden] {
  opacity: 0;
  z-index: -999;
}
