:host {
  display: block;
}

#single {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#single > tog-btn {
  height: 2rem;
}

#multi {
  display: grid;
  grid-template-columns: 160px 160px 200px;
  gap: 10px;
}

#multi > multi-btn {
  --slot-margin: .4rem;
  --label-height: 1.8rem;
  --label-width: 2rem;
}

