:host {
  display: flex;
  gap: 10px;
}

#single {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  gap: 10px;
  align-items: center;
  align-content: flex-start;
}

#single > * {
  height: 2rem;
}

#multi {
  display: grid;
  grid-template-columns: 160px 200px;
  gap: 10px;
}

#multi > * {
  --slot-margin: .4rem;
  --label-height: 1.8rem;
  --label-width: 2rem;
}

