:host {
  display: flex;
  gap: 10px;
}

#single {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 10px;
  align-items: center;
  align-content: space-between;
}

#single > * {
  height: 2rem;
}

#multi {
  display: grid;
  grid-template-columns: 160px 200px;
  gap: 10px;
}

#multi > * {
  --slot-margin: .4rem;
  --label-size: 1.8rem;
}

