:host {
  display: grid;
  box-sizing: border-box;

  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

@media only screen and (max-width: 900px) {
  :host {
    grid-template-columns: 1fr;
  }

  #filters {
    justify-self: center;
  }

  #filters-label {
    justify-self: center;
    margin-top: 20px;
    grid-row: 3;
  }
}

text-input {
  width: 100%;
}

#file-upload {
  grid-column: 1/3;
}

#file-upload label {
  display: block;
}

#file-upload input button {
  border: none;
}

#inputs {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr;
  gap: 10px;
  align-items: center;
  align-content: space-between;
}

#geo {
  align-self: self-end;
  padding-bottom: 5px;
}

#coord-labels {
  padding-left: calc(3rem + 10px);
}

#coord-labels > label {
  width: 100%;
}

#coord-input {
  grid-column: 2/4;
}

#coord-input, #coord-labels {
  display: flex;
  column-gap: 10px;
}

#coord-input label {
  font-size: .8rem;
  color: #444;
  align-self: self-end;
  padding-left: .5rem;
}

date-picker, time-picker {
  width: 100%;
  height: 2rem;
}

button {
  background-color: #cfffbe;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font: inherit;
  height: 2rem;
  user-select: none;
}

#switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120px;
}

#track {
  display: inline-flex;
  height: 20px;
  width: 40px;
  border: 2px solid #d6d6d6;
  border-radius: 50px;
  align-items: center;
  box-sizing: border-box;
  background: #ececec;
  cursor: pointer;
}

#ball {
  --size: 14px;
  width: var(--size);
  height: var(--size);
  background: #7970ff;
  border-radius: 50%;
  transition: .2s;
  margin-left: 0;
}

#track[active] #ball {
  margin-left: calc(100% - var(--size));
}

#switch svg {
  width: 1.5rem;
  height: 1.5rem;
}
