:host {
  --label-size: unset;
  --slot-margin: unset;

  display: inline-block;
}

#main {
  background-color: var(--color-inactive);
  border-radius: 10px;

  display: grid;
  gap: var(--slot-margin);
  place-items: center;

  padding: .4rem;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}

#main[active] {
  background-color: var(--color-active);
}

#buttons {
  display: flex;
  gap: 1rem;
  border-radius: inherit;
}

.button {
  box-shadow: 0 0 1px 2px var(--color-shadow);
  border-radius: inherit;
  line-height: 100%;

  width: var(--label-size);
  height: var(--label-size);
}
