:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

@media only screen and (max-width: 800px) {
  :host {
    grid-template-columns: 1fr;
  }

  .group-label:nth-child(1) {
    display: none;
  }

  .group-label:nth-child(2) {
    grid-row: 2;
    margin-top: 30px;
    justify-self: center;
  }

  #filters {
    justify-self: center;
  }
}

#inputs {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 0 1fr 1fr;
  gap: 10px;
  align-items: center;
  height: 100%;
}

#inputs #norad {
  grid-column: 2/4;
  width: 100%;
  height: 2rem;
}

#inputs .range-label {
  margin-bottom: -10px;
  margin-top: -10px;
  padding-top: 10px;
  color: #424242;
  font-size: 0.8rem;
  align-self: self-end;
}

#inputs date-picker, #inputs time-picker {
  width: 100%;
  height: 2rem;
}

#conv-btn {
  background-color: #cfffbe;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font: inherit;
  height: 2rem;
  margin-top: 10px;
  width: fit-content;
  font-size: 1.3rem;
  padding: .3rem 2rem;
}
